

#mainheader {
    font-family: Calibri;
    margin:0;
    text-align: center;
}

h3 {
    font-family: Calibri;
    font-style: italic;
}

body {
    margin:0;
    padding:0;
    font-family: Calibri;
}

.container {
    width: 100vw;
    height: 100vh;
    font-family: Calibri;

    display: grid;

    grid-template-columns: 1fr 280px 1fr;
    grid-template-rows: 50px 550px 20px 1fr;

    gap: 10px;

    padding:10px;
    box-sizing: border-box;
}

.container div {
    padding: 10px;
    /*border: 2px solid #000000;*/
}

.header {
    grid-column-start:2;
    grid-column-end:3;
}

.content-large {
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end: span 1;
    background-image: url('https://dim-pan.github.io/Entrepreneuership-Pretotype/iphonescreen.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 40px 35px 1fr 65px;

    /*gap:10px;
    padding:10px;
    box-sizing:border-box;*/
}

.toptext {

}

.toptext p {
    text-align:center;
    margin:0;
    font-size:12px;
    padding-left:10px;
    padding-right:10px;
    color:white;
}

.toptext b {
    color:#2173a8;
    font-size:16px;
}

.listcontainer {
    overflow:scroll;
}

.formtext {
    color: white;
}

.formcontainer {
    /*overflow:scroll;*/
    margin-left:0px;
}

iframe {
    width:240px;
    height:340px;
}

.productcontainer {
    height:auto;
    /*border: 1px solid white;*/

    display:grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 30px 1fr;
}

.productheader {
    grid-column-end: span 2;
}

.productheader p {
    text-align:left;
    margin:0;
    font-size:17px;
    position:relative;
    bottom:5px;
    color:white;
}

.productimage {}

.productimage img {
    width:80px;
    height:auto;
    position:relative;
    bottom:10px;
}

.productdesc {
    position:relative;
    left:10px;
    bottom:20px;
}

.productdesc p:first-child {
    color:white;
    font-style:italic;
    font-size:15px;
    margin-top:10px;
    margin-bottom:3px;
}

.productdesc p {
    color:white;
    font-size:15px;
    margin-top:3px;
    margin-bottom:3px;
}

.productdesc button {
    background-color: #2173a8;
    margin-top:10px;
    border: 2px solid white;
    display: inline-block;
    transition-duration: 0.4s;
    border-radius:10px;
    color:white;
}

.productdesc button:hover {
    background-color:white;
    border: 2px solid #2173a8;
    color: #2173a8;
}

.specialtext {
    text-align:center;
    padding-top:40px;
    font-style:normal;
    color: white;
}

.homebar {
    grid-column-start:1;
    grid-column-end: span 1;
    margin-bottom:14px;
    margin-left:10px;
    margin-right:10px;
    background-color:black;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap:0px;

}


.navicon:first-child {

}

.navicon {

}

.navicon:last-child {

}

.navicon img {
    width:100%;
    height:100%;
    margin:0px;
    object-fit:cover;
    overflow:hidden;
}

.feedbacktext {
    grid-row-start:3;
    grid-row-end: span 1;
    grid-column-start:2;
    grid-column-end:span 1;
}

.feedbacktext p {
    text-align:center;
    position:relative;
    bottom:20px;
}

.feedbacktext a {
    text-decoration:none;
    color:grey;
}

.feedbacktext a:hover {
    color:#2173a8;
}
