
@font-face {
    font-family: Ubuntu_Reg;
    src: url(https://dim-pan.github.io/Entrepreneuership-Pretotype/fonts/ubuntu_reg.ttf) format('truetype');
}


h1 {
    font-family: Calibri;
}

h3 {
    font-family: Calibri;
    font-style: italic;
}

.container {
    position: relative;
    float: left;
    width:80%;
    height:100%;
}

.screen {
    margin:auto;
    position:absolute;
    left:45%;
    top:3%;
}

.heading {
    margin:auto;
    position:absolute;
    top:30%;
    left:5%;
}
