
@font-face {
    font-family: 'Ubuntu_Reg';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu_Reg'), url(https://dim-pan.github.io/Entrepreneuership-Pretotype//fonts/ubuntu_reg.ttf) format('ttf');
}


h1{
    font-family: "Arial";
}
